{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% set callout_block %}
    {% if multiple %}
        <div{{ attributes.addClass(classes, 'callout_field__items') }}>

            {% for item in items %}
                <div{{ item.attributes.addClass('callout_field__item', 'glide__slide', 'visually_hidden') }}>{{ item.content }}</div>
            {% endfor %}

        </div>
    {% endif %}
{% endset %}

{% embed('doda:callout') %}
    {% block callout %}
        {{ callout_block }}
    {% endblock %}
{% endembed %}