/* .callout_field__items {
    display: flex;

} */
/* .glide__slides {
    display: flex;
} */
.glide__slide {
    color: purple;
}
/* .visually_hidden {
    display: none;
} */

.glide__slide:nth-child(1) {
    color: red !important;
}