/* Code below works for Slider*/
.swiper {
    width: auto;
    height: 800px;
  }

.swiper-slide {
    background-color: rgb(192, 255, 231);
}
.font-merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
}